@media screen and (max-width: 768px) {
    
    form{
  
        
        width: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
        justify-content:center ;
    }
    mat-toolbar{
        
        margin-top: 20px;
        margin-bottom: 20px;
        width: 300px;
       
       
    }
    button {
        width: 140px;
        justify-content: center;
        }
        mat-form-field{
            width:140px; 
        }
       
        select{
            width:140px;  
        }
        
        mat-icon{
            text-align: center;
        }
        
        h1{
            padding-left: 50px;
            color: #ffffff;
        }
  }
@media screen and (min-width: 992px) {
    
    form{
  
        margin-left: 270px;
        width: 600px;
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content:center ;
    }
    mat-toolbar{
        margin-left: 100px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 700px;
       
       
    }
    button {
        width: 250px;
        justify-content: center;
        }
        mat-form-field{
            width:500px; 
        }
       
        select{
            width:500px;  
        }
        
        mat-icon{
            text-align: center;
        }
        
        h1{
            padding-left: 320px;
            color: #ffffff;
        }
  }
@media screen and (min-width: 1200px) {
    
    form{
  
        margin-left: 330px;
        width: 800px;
        margin-top: 70px;
        margin-bottom: 70px;
        justify-content:center ;
    }
    mat-toolbar{
        margin-left: 200px;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 900px;
       
       
    }
    button {
        width: 350px;
        justify-content: center;
        }
        mat-form-field{
            width:700px; 
        }
       
        select{
            width:700px;  
        }
        
        mat-icon{
            text-align: center;
        }
        
        h1{
            padding-left: 350px;
            color: #ffffff;
        }
  }