<mat-toolbar color="primary">
  
  <div>
  <h1>Contactez nous</h1> 
  </div>
</mat-toolbar>
       
      <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input required matInput type="text" placeholder="taper votre nom" formControlName="nom" id="nom">
            <mat-error
              *ngIf="this.crudApi.dataForm.controls.nom?.errors && (this.crudApi.dataForm.controls.nom?.dirty || this.crudApi.dataForm.controls.nom?.touched)">
              <div *ngIf="this.crudApi.dataForm.controls.nom?.errors.required">
                Nom obligatoire
              </div>
          </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Prenom</mat-label>
            <input required matInput type="text" placeholder="taper votre prénom" formControlName="prenom" id="prenom">
            <mat-error
              *ngIf="this.crudApi.dataForm.controls.prenom?.errors && (this.crudApi.dataForm.controls.prenom?.dirty || this.crudApi.dataForm.controls.prenom?.touched)">
              <div *ngIf="this.crudApi.dataForm.controls.prenom?.errors.required">
                Prenom obligatoire
              </div>
          </mat-error>
          </mat-form-field>
          
          <mat-form-field  class="example-full-width">
            <mat-label>Email</mat-label>
            <mat-icon matPrefix>email</mat-icon>
             <input required matInput type="email" tabindex="1" placeholder="taper votre Email" formControlName="email" id="email">
             <mat-error
             *ngIf="this.crudApi.dataForm.controls.email?.invalid && (this.crudApi.dataForm.controls.email.dirty || this.crudApi.dataForm.controls.email.touched)">
             <div *ngIf="this.crudApi.dataForm.controls.email?.errors.required">
                 Email obligatoire
             </div>
             <div *ngIf="this.crudApi.dataForm.controls.email?.invalid">
                 Email  invalide.
             </div>
         </mat-error>
            </mat-form-field>
        
           <mat-form-field>
            <mat-label>Sujet</mat-label>
            <input required matInput type="text" placeholder="taper  sujet" formControlName="sujet" id="sujet">
            <mat-error
              *ngIf="this.crudApi.dataForm.controls.sujet?.errors && (this.crudApi.dataForm.controls.sujet?.dirty || this.crudApi.dataForm.controls.sujet?.touched)">
              <div *ngIf="this.crudApi.dataForm.controls.sujet?.errors.required">
                Sujet obligatoire
              </div>
          </mat-error>
          </mat-form-field>
          
          <mat-form-field class="example-full-width">
            <mat-label>Message</mat-label>
            <textarea required matInput placeholder="taper le message" formControlName="message" id="message"></textarea>
          </mat-form-field>
        </mat-card-content>
        <br>
        <mat-card-actions >
          <button type="submit" class="btn btn-dark"><mat-icon>send</mat-icon> Submit</button>
          <button type="reset" class="btn btn-dark"><mat-icon>close</mat-icon>Annuler</button>
        </mat-card-actions>
          
      </form>
   