form{
  
    margin-left: 280px;
    
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
   
    justify-content:center ;
}

button {
width: 200px;
justify-content: center;
}
mat-form-field{
    width:400px; 
}
select{
    width:400px;  
}

mat-icon{
    text-align: center;
}

h1{
    padding-left: 100px;
    color: #ffffff;
}

mat-toolbar{
    margin-left: 200px;
    
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
   
   
}
