<h1 class="cs-color">
    <mat-icon>perm_media</mat-icon>
   photos du press
</h1>

<div class="container content">
    <div class="row rows">
        <div class="col-md-4 " >
            <h3>Lancement du projet Entreprises d'entrainement(EE) en tunisie</h3>
            <mat-card class="example-card" >
                <img height="300px" class="card-img-top img-responsive"
                    src = "assets/images/press1.jpg" 
                   
                   alt="">
            </mat-card>
        
        </div>

        <div class="col-md-4 " >
            <h3> Coup de pouce à l'insertion professionnelle de jeunes Tunisiens</h3>
            <mat-card class="example-card">
                <img  height="300px" class="card-img-top img-responsive"
                    src = "assets/images/press2.jpg" 
                   
                   alt="">
            </mat-card>
        
        </div>

       
    </div>
       

</div>

