<app-elan></app-elan>
<div class="container content">
   
        
            <mat-card class="example-card">
                <div class="cs-section-title title" style="margin-bottom:10px;">
                    <h4><i>Départements  Comptabilité</i></h4>
                </div>
                <img class="card-img-top img-responsive"
                    src = "../../../assets/images/compta.png" 
                    style = "height :200px;width:fil-content"
                   alt="">
                  <ul>  
                <mat-card-content>
                   <li>Préparer le dossier de constitution de la société.</li>
                    <li>Participer à la tenue des comptes d'une entreprise.</li>
                    <li>Saisir et contrôler les factures, notes de frais et la tenue des livres d'achat et de vente ainsi que le rapprochement bancaire.</li>
                </mat-card-content>
            </ul>
            </mat-card>
        
        </div>

       