.contact {
display: inline;
padding:10px ;
}

.suivre {
    padding-left:20px;
    
}

#all{
    width:100%;
  }
  #suivi{
    width:100%;
    margin-bottom: 50px;
   justify-content: center;
  }

  .fa-twitter {
    background: #068bf0;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-facebook {
    background: #083e68;
    color:white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-youtube {
    background: #7a3202;
    color:white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-linkedin{
    background: #024f8a;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  #cop{
    text-align: center;
    font-size: 20px;
  }
  #footer
  {
      background-color:olivedrab;
      width:100%;
     
  }
  .contacter{
padding-top:15px ;
padding-right: 15px;
  }

  .apropos{
    padding-top:15px ;
    padding-right: 15px;
  }

  .speed{
    padding-top:15px ;
    padding-right: 15px;
   
  
  }
  .speed a{
   color: blue;
  
  }

  .apropos a{
    color: blue;
   
   }

  .ouverture{
    width: 100%;
   text-align: left;
  }
  