<footer id="footer"> 
	<div class="cs-footer-widgets">
		<div class="container-fluide">
			<div class="row">
				<div class="col-md-3">
					<div class="widget widget-text">
						<div class="widget-section-title"><h1 style="color:#fff !important">Nous contacter</h1></div>
						<ul>
							<li class="contacter">
								<i class="fa fa-map-marker" aria-hidden="true" ></i><p class="contact">15, Rue des Entrepreneurs, 2035 Charguia II Ariana</p>
							</li>
							<li class="contacter">
								<i class="fa fa-phone-square" aria-hidden="true"><p class="contact"> + 216 71 941 333</p></i>
								
							</li>
							
							<li class="contacter">
								<i class="fa fa-envelope" aria-hidden="true"></i>
								<p class="contact"><a href="mailto:direction@elan.tn">direction@elan.tn</a></p>
							</li>
						</ul>	
					</div>
					<div>
						<div class="widget widget-text">
							<div class="widget-section-title"><h1 style="color:#fff !important">Heures d'ouverture</h1></div>
							<div class="overture"><p>Du lundi au Vendredi de 8h30 à 17h00</p>	</div>
						</div>
				</div>
				<div class="connect-us" id="suivi" >
					<div class="widget-section-title"><h1 style="color:#fff !important">Suiver-Nous</h1></div>
					<a class="suivre" mat-button-resaide href="https://twitter.com/elan_byconect" target="self"><i class="fa fa-twitter rs"></i></a>
					<a class="suivre" mat-button-resaide href="https://www.facebook.com/Elan-by-CONECT-Entreprise-dentra%C3%AEnement-546724438806098/"><i class="fa fa-facebook rs" aria-hidden="true"></i></a>
					<a class="suivre" mat-button-resaide href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin rs" aria-hidden="true"></i></a>
				    <a class="suivre" mat-button-resaide href="https://www.youtube.com/channel/UCfux3_z5u4JMsJpJpvYJ9yA"><i class="fa fa-youtube rs" aria-hidden="true"></i></a>
			    </div>
				</div>
				<div class="col-md-3">
					<div class="widget widget-categores">
						<div class="widget-section-title"><h1 style="color:#fff !important">A propos de ELAN</h1></div>
						<ul>
							<li class="apropos"><a href="/acceuil">Accueil</a></li>
							<li class="apropos"><a href="/presentation">Présentation</a></li>
							<li class="apropos"><a href="/nosee">Nos EE</a></li>
							<li class="apropos"><a href="/partenariats">Partenariats</a></li>
							<li class="apropos"><a href="/actualites">Actualités</a></li>
							<li class="apropos"><a href="/medias">Medias</a></li>
							<li class="apropos"><a href="/candidature">candidatures</a></li>
							<li class="apropos"><a href="/contact">Contact</a></li>
						</ul>	
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="widget widget-useful-links">
						<div class="widget-section-title"><h1 style="color:#fff !important">Liens Rapides</h1></div>
						<ul>
							<li class="speed"><a href="/presentation/souspresentation"> sous presenatation</a></li>
							<li class="speed"><a href="/presentation/prospectus"> prospectus</a></li>
							<li class="speed"><a href="/presentation/emplacement"> emplacement</a></li>
							<li class="speed"><a href="/nosee/elan/rh">département ressource humaine </a></li>
							<li class="speed"><a href="/nosee/elan/finance"> département finance </a></li>
							<li class="speed"><a href="/nosee/elan/commerce">département commerce</a></li>
							<li class="speed"><a href="/nosee/elan/comptabilite">département Comptabilité</a></li>
							<li class="speed"><a href="/nosee/pes/marketing">département marketting</a></li>
							<li class="speed"><a href="/nosee/pes/developpement">département Développement</a></li>
							<li class="speed"><a href="/nosee/pes/design">département design</a></li>
							
						</ul>	
					</div>
				</div>

				<div class="col-md-3">
					<div class="widget widget-useful-links">
						<div class="widget-section-title"><h1 style="color:#fff !important">Localisation</h1></div>
						<iframe class="i" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.4234878583425!2d10.204930315249308!3d36.85628097993714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34d3221c6daf%3A0x78ec7878e0506be5!2sELAN%2C%20entreprise%20d&#39;entra%C3%AEnement!5e0!3m2!1sfr!2stn!4v1598388085902!5m2!1sfr!2stn"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>	
					</div>
				</div>

				
			</div>
		</div>
	</div>
	

	

	<div class="cs-copyright">
		<div class="container">
			<div class="row">
				
					<div class="copyright-text copyright" id="all">
						<p id="cop">
							© 2020 ELAN. Tous droits réservés. Conception et réalisation 
						</p>
					
				    </div>
			</div>
		</div>
	</div>
	
	
</footer>
