mat-card{
    width:fill-content;
    height:700px;
    justify-content: center;
}
h1{
    text-align: center;
}
img{
    margin-left: 280px;
}
mat-card-content{
    margin-left: 280px;
}
#dateart{
    text-align: center;
    color:lightsteelblue; 
}
.des{
    padding-right: 5px;
    color:rgb(8, 113, 155); 
}
.descr{
    padding-right: 10px;
    color:rgb(8, 113, 155);   
}
.aut{
    padding-right: 5px;
    
}
.aute{
    padding-right: 10px;
      
}