.col-xs-2{
    padding: 10px;
    display: inline ;
}
h3{
    color: blanchedalmond;
}


@media (min-width: 768px) {
    .container
    {
      min-width: 1100px; 
    }
    ngb-carousel{
    max-width: 900px;
    margin-left: 100px; 
    }

    img {
      max-width: 900px; 
      max-height: 450px; 
  }
  
} 

  @media (min-width: 992px) {
    .container
    {
      min-width: 1400px; 
      margin-left: 20px;

    }
    ngb-carousel{
        max-width: 1100px; 
        margin-left: 150px;
    }

    img {
      max-width: 1100px; 
      max-height: 550px; 
  }
  }
  @media (min-width: 1200px) {
   
    .container
    {
      min-width: 1700px; 
    }
    ngb-carousel{
        max-width: 1300px; 
        margin-left: 150px;

    }
    img {
      max-width: 1300px; 
      max-height: 650px; 
  }
  }