.menu{
    display: inline;
}



 a:hover{
    background-color: #185fac;
}

img {
    max-width: 100%;
    width:100px;
    height:100px;
}



.w3-red{
    background-color: brown;
}




@media (min-width: 768px) {
    .container-fluide {
      min-width: 1400px; 
    }
    mat-toolbar{
      max-width: 500px; 
  }
    mat-toolbar-row{
      max-width: 500px; 
  }
  a [mat-tab-link]{
    max-width: 20px;
}
  }
  @media (min-width: 992px) {
    .container-fluide {
      min-width: 1900px; 
    }
    mat-toolbar{
      max-width: 810px; 
  }
    mat-toolbar-row{
      max-width: 800px; 
  }
  a [mat-tab-link]{
    max-width: 30px;
}
  }
  @media (min-width: 1200px) {
    .container-fluide {
      min-width: 1900px; 
    }
    mat-toolbar{
      max-width: 910px; 
  }
    mat-toolbar-row{
      max-width: 900px; 
  }
  a [mat-tab-link]{
    max-width: 60px;
   
}

  }