<h1>Les ressources humaines de ELAN/PES</h1>

<h2>Liste Collaborateurs temporaires en perfectionnement </h2>
<div class="row">
     <div class="col-md-12 center" >
   <div *ngFor="let item of ctp">
     <div class="col-md-4" >
              <mat-card class="example-card">
             <img class="card-img-top img-responsive"
                 src = "{{this.crudApi.host+'/api/Imgressources/'+item.id}}" 
                 style = "height :fil-content;width:fil-content"
                alt="">
                <mat-card-content>
                    <p @fade @slidein><b>{{item.nom}}</b></p>
                    <p @fade @slidein><b>{{item.prenom}}</b></p>
                    <p @fade @slidein><b>{{item.type}}</b></p>
                </mat-card-content>
               </mat-card>
     </div>
     </div>
 </div>
 
</div>

<h2>Liste Coach </h2>
<div class="row">
    <div class="col-md-12 center" >
  <div *ngFor="let item of coach">
    <div class="col-md-4 doc-item" >
             <mat-card class="example-card">
            <img class="card-img-top img-responsive"
                src = "{{this.crudApi.host+'/api/Imgressources/'+item.id}}" 
                style = "height :fil-content;width:fil-content"
               alt="">
            <mat-card-content class="social-lists">
                <p> <b>{{item.nom}}</b></p>
                <p><b>{{item.prenom}}</b></p>
                <p><b>{{item.type}}</b></p>
            </mat-card-content>
              </mat-card>
    </div>
    </div>
</div>

</div>

<h2>Manager </h2>
<div class="row">
    <div class="col-md-12 center" >
  <div *ngFor="let item of manager">
    <div class="col-md-4 doc-item" >
             <mat-card class="example-card">
            <img class="card-img-top img-responsive"
                src = "{{this.crudApi.host+'/api/Imgressources/'+item.id}}" 
                style = "height :fil-content;width:fil-content"
               alt="">
               <mat-card-content class="social-lists">
                <p><b>{{item.nom}}</b></p>
                <p><b>{{item.prenom}}</b></p>
                <p><b>{{item.type}}</b></p>
            </mat-card-content>
              </mat-card>
    </div>
    </div>
</div>

</div>




