<h1>
    <strong>
        <mat-icon>video_label</mat-icon>ELAN en Vidéos 
    </strong>
    
</h1>


<div class="container content">
    <div class="row">
        <div class="col-lg-5 ">
            <h2>Présentation ELAN by CONECT/Pes by CONECT</h2>
    <p>
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Ru2UBKv2hMw" width="100%"></iframe>
    </p>
        </div>

        <div class="col-lg-5 c">
            <h2>Présentation ELAN by CONECT/Pes by CONECT</h2>
    <p>
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Ru2UBKv2hMw" width="100%"></iframe>
    </p>
        </div>
   </div>	
</div>