<h1>
    <strong>
        <mat-icon>video_label</mat-icon>ELAN en Vidéos 
    </strong>
    
</h1>


<div class="container content">
    <div class="row rows">
        <div class="col-md-4 " >
            <h3>--------------</h3>
            <mat-card class="example-card" >
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/Ru2UBKv2hMw" width="100%" ></iframe>

            </mat-card>
        
        </div>

        <div class="col-md-4 " >
            <h3> ------</h3>
            <mat-card class="example-card">
                <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/9bMmIC9f3GI" width="100%"></iframe>	

            </mat-card>
        
        </div>
    </div>
       
    </div>