<h1>
    <strong>
        <mat-icon>video_label</mat-icon>ELAN en Vidéos 
    </strong>
    
</h1>


<div class="container content">
    <div class="row">
        <div class="col-md-12 center" >
      <div *ngFor="let item of crudApi.videos">
        <div class="col-md-6" >
            
            <mat-card class="example-card" >
                <video width="400" height="315" controls>
                    <source  src = "{{this.crudApi.host+'/api/Videomedias/'+item.id}}" 
                     type="video/mp4">
                </video>
            </mat-card>
            
           
        
        </div>
    </div>
    </div>
       
    </div>
       
    </div>