mat-card-content{
    text-align:center;
}



.corp{
    overflow: auto;
}



@media (min-width: 768px) {
    .container-fluide
    {
      min-width: 1100px; 
    }
    ngx-slick-carousel{
        width:900px;
        margin:2px 2px 2px 2px ;
    }
    .slide{
        height: 150px;
        width: 150px;
        scroll-margin-right: 3px;
    }
    .card{
        height: 150px;
        width: 150px;
        margin-left: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .card1{
        width:100px;
        margin-left: 7px;
       margin-bottom: 3px;
       margin-top: 3px; 
    }
    h2{
        margin-left: 15px;
    }
.im{
    height :100px;
    width:100px;
}
  
} 

  @media (min-width: 992px) {
    .container-fluide
    {
      min-width: 1400px; 
    }

    ngx-slick-carousel{
        width:1000px;
        margin:2px 2px 2px 2px ;
    }
    .slide{
        height: 200px;
        width: 200px;
        scroll-margin-right: 3px;
    }
    .card{
        height: 220px;
        width: 220px;
        margin-left: 25px;
        margin-bottom: 8px;
        margin-top: 8px;
    }
    .card1{
        width:150px;
        margin-left: 15px;
       margin-bottom: 5px;
       margin-top: 5px; 
    }
    h2{
        margin-left: 25px;
    }
    .im{
        height :150px;
        width:150px;
        margin-left: 5px;

    }
  }
  @media (min-width: 1200px) {
   
    .container-fluide
    {
      min-width: 1700px; 
    }

    ngx-slick-carousel{
        width:1200px;
        margin:2px 2px 2px 2px ;
    }
    .slide{
        height: 250px;
        width: 250px;
        scroll-margin-right: 3px;
    }
    .card{
        height: 250px;
        width: 250px;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    h2{
        margin-left: 30px;
    }
    .im{
        height :200px;
        width:200px;
    }
    .card1{
        width:170px;
        margin-left: 15px;
       margin-bottom: 5px;
       margin-top: 5px; 
    }
  }