mat-card-content{
    text-align:center;
}
mat-card{
   width:150px;  
}
.card{
    width:150px;
    margin-left: 15px;
   margin-bottom: 5px;
   margin-top: 5px;
}
.card1{
    width:150px;
    margin-left: 15px;
   margin-bottom: 5px;
   margin-top: 5px; 
}
.corp{
    overflow: auto;
}
ngx-slick-carousel{
    width:600px;
    margin:2px 2px 2px 2px ;
}
.slide{
    height: 250px;
    width: 200px;
    scroll-margin-right: 3px;
}