<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1  class="logo">ELAN <span class="lite">/PES</span></h1>
  
    <span class="menu-spacer"></span>
    <div>
      <a class="logot"mat-button routerLink="/logout"> logout </a>
    </div>
   
  </mat-toolbar-row>

  
</mat-toolbar>


<mat-sidenav-container >
  <mat-sidenav  #sidenav >
    <mat-nav-list >

      <a mat-list-item [matMenuTriggerFor] = "m1"  >  <span>Gestion Articles</span> </a>
       <mat-menu #m1 = "matMenu">
        <a mat-menu-item routerLink="/admin/larticle" (click)="sidenav.toggle()">List Articles</a>
        <a mat-menu-item routerLink="/admin/article" (click)="sidenav.toggle()">Add Article</a>
      </mat-menu>

      <a mat-list-item [matMenuTriggerFor] = "m2"  >  <span>Gestion Offres d'emploi</span> </a>
      <mat-menu #m2 = "matMenu">
       <a mat-menu-item routerLink="/admin/offres" (click)="sidenav.toggle()">List Offres</a>
       <a mat-menu-item routerLink="/admin/addoffre" (click)="sidenav.toggle()">Add Offre</a>
     </mat-menu>

     <a mat-list-item [matMenuTriggerFor] = "m3"  >  <span>Gestion Medias</span> </a>
       <mat-menu #m3 = "matMenu">
        <a mat-menu-item routerLink="/admin/lmedias" (click)="sidenav.toggle()">List Medias</a>
        <a mat-menu-item routerLink="/admin/medias" (click)="sidenav.toggle()">Add Medias</a>
      </mat-menu>
      <a mat-list-item [matMenuTriggerFor] = "m4"  >  <span>Gestion Ressources</span> </a>
      <mat-menu #m4 = "matMenu">
       <a mat-menu-item routerLink="/admin/lressource" (click)="sidenav.toggle()">List Ressources</a>
       <a mat-menu-item routerLink="/admin/addressource" (click)="sidenav.toggle()">Add Ressources</a>
     </mat-menu>
     <a mat-list-item [matMenuTriggerFor] = "m5"  >  <span>Gestion Statistiques</span> </a>
     <mat-menu #m5 = "matMenu">
      <a mat-menu-item routerLink="/admin/statistiques" (click)="sidenav.toggle()">List Statistiques</a>
      <a mat-menu-item routerLink="/admin/addstatistique" (click)="sidenav.toggle()">Add Statistiques</a>
    </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="contenu" style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>