.contenu{
   
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-right: 50px;
    width: 600px;
    height: 450px;
    justify-content:center ;
    
}

.logo{
    margin-right: 25px;
    margin-left: 25px;
    color:blanchedalmond;

}
router-outlet{
    position: fixed;
    
}

mat-toolbar{
   
    text-align:center;
    margin-left:15px;
    margin-right:15px;
    height: 100px;
    
}
mat-toolbar-row{
    margin-top: 20px;

}
mat-menu{
  width: 100%;  
}