
.logo{
    margin-right: 25px;
    margin-left: 25px;
    color:blanchedalmond;

}

mat-toolbar{
   
    text-align:center;
    margin-left:15px;
    margin-right:15px;
    height: 100px;
    
}
mat-sidenav-container{
    margin-left:15px;
    margin-right:15px;
}

mat-sidenav{
    padding-left: 15px;
    
}
mat-toolbar-row{
    margin-top: 20px;

}
a{
  width: 200px;  
}