<app-elan></app-elan>
<div class="container content">
   
        
    <mat-card class="example-card">
        <div class="cs-section-title title" style="margin-bottom:10px;">
            <h4><i>Départements  Ressources Humaines</i></h4>
        </div>
        <img class="card-img-top img-responsive"
            src = "../../../assets/images/rh.png" 
            style = "height :200px;width:fil-content"
           alt="">
          <ul>  
        <mat-card-content>
           <li>Effectuer le suivi administratif des opérations de gestion des ressources humaines : recrutement,...</li>
            <li>Suivre et mettre à jour les dossiers individuels des salariés et réaliser les déclarations réglementaires.</li>
            <li>Elaborer et actualiser les supports de suivi et de gestion des ressources humaines : tableaux de bord sociaux, grilles de salaires, plannings des congés,...</li>
            <li>Saisir les éléments des paies (primes, indemnités, traitements mensuels, retenues, ...) et contrôler les bulletins de salaires.</li>
        </mat-card-content>
    </ul>
    </mat-card>

</div>