<div class="cs-section-title title" style="margin-bottom:10px;">
<h1>Nos partenaires dans le cadre d'entreprise d'entrainement  </h1>
</div>

    

<div class="container content">
    <div class="row  rows" >
        <div class="col-md-6 " >
          <h2>Elan et Pro Evolution Skills by CONECT sont:</h2>
    </div>
    </div>
    <div class="row rows">
        <div class="col-md-4 " >
            <mat-card class="example-card">
                <h3>Créées par</h3>
                <img class="card-img-top img-responsive"
                    src = "assets/images/connect.png" 
                    style = "height :200px;width:fil-content"
                   alt=""> 
            </mat-card>
        
        </div>

       <div class="col-md-4 " >
          <mat-card class="example-card">
            <h3>Dans le cadre du programme de la formation et insertion professionnelle en tunisie financé par</h3>
            <img class="card-img-top img-responsive"
                src = "assets/images/ddc.png" 
                style = "height :200px;width:fil-content"
               alt="">
          </mat-card>
    
       </div>

      <div class="col-md-4 " >
         <mat-card class="example-card">
        <h3>mise en oeuvre par</h3>
            <img class="card-img-top img-responsive"
                src = "assets/images/swiss.png" 
                style = "height :200px;width:fil-content"
               alt="">
          </mat-card>
    
       </div>
    </div>
    <div class="row rows">
       <div class="col-md-4 " >
          <mat-card class="example-card">
            <h3>Membres du</h3>
            <img class="card-img-top img-responsive"
                src = "assets/images/reet.png" 
                style = "height :200px;width:fil-content"
               alt="">
           </mat-card>
    
       </div>

    <div class="col-md-4 " >
        <mat-card class="example-card">
            <h3>Agréé par</h3>
            <img class="card-img-top img-responsive"
                src = "assets/images/helvartis.png" 
                style = "height :200px;width:fil-content"
               alt="">
        </mat-card>
    
    </div>

    <div class="col-md-4 " >
        <mat-card class="example-card">
            <h3>sous la tutelle du</h3>
            <img class="card-img-top img-responsive"
                src = "assets/images/ministére.png" 
                style = "height :200px;width:fil-content"
               alt="">
        </mat-card>
    
    </div>
</div>

   
</div>

<div class="cs-section-title title" style="margin-bottom:10px;">
    <h2>Nos Entreprises marraines: </h2>
</div>

<div class="container content">
    <div class="row rows">
        <div class="col-md-4 " >
            <mat-card class="example-card">
                <img class="card-img-top img-responsive"
                    src = "assets/images/madamerkik.jpg" 
                    style = "height :200px;width:fil-content"
                   alt="">
         
            </mat-card>
        
        </div>

       <div class="col-md-4 " >
          <mat-card class="example-card">
            <img class="card-img-top img-responsive"
                src = "assets/images/pearl.jpg" 
                style = "height :200px;width:fil-content"
               alt="">
          </mat-card>
    
       </div>

      
    </div>