

 <h1 class="cs-color">
    <span class="material-icons">
    camera_enhance
    </span>
    Galerie photos
</h1>

<div class="container content">
    <h2>list coach</h2>
    <div class="row rows">
       
        <div class="col-md-2 " >
            <mat-card class="example-card" >
                <img class="card-img-top img-responsive"
                            src = "assets/images/project-4.jpg" 
                           alt="">
            </mat-card>
        
        </div>

        <div class="col-md-2 " >
            <mat-card class="example-card">
                <img class="card-img-top img-responsive"
                            src = "assets/images/project-3.jpg" 
                            alt="">
            </mat-card>
        
        </div>

        <div class="col-md-2 " >
            <mat-card class="example-card">
                <img class="card-img-top img-responsive"
                            src = "assets/images/project-2.jpg" 
                           alt="">
            </mat-card>
        
        </div>
    </div>
    <h2>Collaborateurs temporaires en perfectionnement</h2>
        <div class="row rows">
            <div class="col-md-2 " >
                <mat-card class="example-card">
                    <img class="card-img-top img-responsive"
                        src = "assets/images/img_bg_3.jpg" 
                        
                       alt="">
                </mat-card>
            
            </div>
    
            <div class="col-md-2 " >
                <mat-card class="example-card">
                    <img class="card-img-top img-responsive"
                        src = "assets/images/img_bg_4.jpg" 
                        
                       alt="">
                </mat-card>
            
            </div>
    
            <div class="col-md-2 " >
                <mat-card class="example-card">
                    <img class="card-img-top img-responsive"
                        src = "assets/images/project-1.jpg" 
                        
                       alt="">
                </mat-card>
            
            </div>
        </div>
            <div class="row rows">
                <div class="col-md-2 " >
                    <mat-card class="example-card">
                        <img class="card-img-top img-responsive"
                            src = "assets/images/project-4.jpg" 
                           
                           alt="">
                    </mat-card>
                
                </div>
        
                <div class="col-md-2 " >
                    <mat-card class="example-card">
                        <img class="card-img-top img-responsive"
                            src = "assets/images/project-3.jpg" 
                           
                           alt="">
                    </mat-card>
                
                </div>
        
                <div class="col-md-2 " >
                    <mat-card class="example-card">
                        <img class="card-img-top img-responsive"
                            src = "assets/images/project-2.jpg" 
                          
                           alt="">
                    </mat-card>
                
                </div>
            </div>

</div>

