

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="bg-light border-right" id="sidebar-wrapper">
            
            <div class="list-group list-group-flush">
              <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
              <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
            </div>
          </div>
      <main class="col">
        <div *ngFor="let item of crudApi.listData">
            <div class="col-md-4 " >
                <mat-card class="example-card">
                    <img class="card-img-top img-responsive"
                        src = "{{this.crudApi.host+'/api/Imgarticles/'+item.id}}" 
                        style = "height :200px;width:fil-content"
                       alt="">
                        
                    <mat-card-content>
                        <p>{{item.titre}}</p>
                        <p><b> {{item.auteur}} </b></p>
                        <p> {{item.date}}  </p>
                        <p> {{item.corps}} </p>
                    </mat-card-content>
                   
                </mat-card>
            </div>
        </div>
      </main>
    </div>
  </div>

