<div class="page">
<!--
  <button (click)='animateMe()'>toggle</button>
  <p [@toggleanimation]='state'>***************************************************************************voici une belle animation***************************************************************************************************
    ***************************************************
    ************************************************
    **********************************************
    ****************************
    ***************************

  
  </p> -->

  <router-outlet></router-outlet>

</div>

  