<app-pes></app-pes>
<div class="container content">
   
        
    <mat-card class="example-card">
        <div class="cs-section-title title" style="margin-bottom:10px;">
            <h4><i>Départements  Developpement</i></h4>
        </div>
        <img class="card-img-top img-responsive"
            src = "../../../assets/images/developpement.png" 
            style = "height :200px;width:fil-content"
           alt="">
          <ul>  
        <mat-card-content>
           <li>Analyser dans le délai les besoins du client. </li>
            <li>Rédiger les cahiers de charge selon les besoins du client.</li>
            <li>Coordonner avec le designer pour l'integration des maquettes et des conceptions graphiques.</li>
            <li>Structurer les pages et déterminer les coloris.</li>
            <li>Créer des interactions avec les bases de données.</li>
        </mat-card-content>
    </ul>
    </mat-card>

</div>