.tabl{

margin-left:50px ;
margin-right:50px ;
margin-bottom: 100px;

}

mat-toolbar{
    margin-top: 50px;
    margin-left:50px ;
    margin-right:50px ;
    width: 900px;
}
table{
    width: 900px;
}