.log{
    justify-content: center;
}

input{
    text-align: center;
}
button{
    cursor: pointer;
}
.hide-login-btn{
    color: #000;
    position: absolute;
    top:40px;
    right: 40px;
    cursor: pointer;
    font-size: 35px;
    opacity: 7;
}
h3{
display: inline;
}
i{
    margin-right: 5px;
}
.show-login-btn{
    color: #000;
    left:20%;
   border:2px solid;
    cursor: pointer;
    padding: 10px;
    background-color: aquamarine;
    
}
