<app-elan></app-elan>
<div class="container content">
   
        
    <mat-card class="example-card">
        <div class="cs-section-title title" style="margin-bottom:10px;">
              <h4>Départements  Commerciale</h4>
        </div>
        <img class="card-img-top img-responsive"
            src = "../../../assets/images/commercial.png" 
            style = "height :200px;width:fil-content"
           alt="">
          <ul>  
        <mat-card-content>
            <li>Réceptionner et saisir les commandes clients et organiser les livraisons.</li>
            <li>Assurer le recouvrement, relancer les impayés et, gérer et résoudre les litiges, réclamations et contentieux.</li>
            <li>Suivre les actions marketing, les compagnes promotionnelles et le lancement des nouveaux produits.</li>
            <li>Veiller à la disponibilité des produits et au respect des délais de livraison.</li>
        </mat-card-content>
    </ul>
    </mat-card>

</div>