<app-pes></app-pes>
<div class="container content">
   
        
    <mat-card class="example-card">
        <div class="cs-section-title title" style="margin-bottom:10px;">
            <h4><i>Départements Design</i></h4>
        </div>
        <img class="card-img-top img-responsive"
            src = "../../../assets/images/design.png" 
            style = "height :200px;width:fil-content"
           alt="">
          <ul>  
        <mat-card-content>
           <li>Créer tout types d'éléments graphique: banniére,animations,flash... </li>
            <li>Créer des logos et concevoir des chartes graphiques</li>
            <li>Concevoir ou modifier des support de communication</li>
            <li>créer les éléments graphiques nécessaires au développement des sites web </li>
            <li>Concevoir des catalogues et des supports de ventes </li>
            <li>Concevoir des supports de communication sur Photoshop</li>
            <li>Concevoir des supports de communication sur Illustrator</li>
            <li>Concevoir des supports de communication sur Indésign</li>
        </mat-card-content>
    </ul>
    </mat-card>

</div>