@media (min-width: 768px) {
.hide-login-btn{
    color: #000;
    position: absolute;
    padding-left:450px ;
    cursor: pointer;
    font-size: 35px;
    opacity: 7;
}


}

@media (min-width: 992px) {
    .hide-login-btn{
        color: #000;
        padding-left:200px ;
        cursor: pointer;
        font-size: 35px;
        opacity: 7;
    }
    form{
  
        
        width: 400px;
        
    }
    
    button {
        width: 190px;
        justify-content: center;
        }
        mat-form-field{
            width:400px; 
        }
       
        select{
            width:400px;  
        }
        
        mat-icon{
            text-align: center;
        }
        
        
    }

    @media (min-width:1200px) {
        .hide-login-btn{
            color: #000;
            padding-left:2000px ;
            cursor: pointer;
            font-size: 35px;
            opacity: 7;
        }
       
    form{
  
        
        width: 400px;
        
    }
    
    button {
        width: 180px;
        justify-content: center;
       
        }
        mat-form-field{
            width:400px; 
        }
       
        select{
            width:400px;  
        }
        
        mat-icon{
            text-align: center;
        }
        
        
        }