<app-pes></app-pes>
<div class="container content">
   
        
    <mat-card class="example-card">
        <div class="cs-section-title title" style="margin-bottom:10px;">
            <h4><i>Départements  Marketing</i></h4>
        </div>
        <img class="card-img-top img-responsive"
            src = "../../../assets/images/marketing.png" 
            style = "height :200px;width:fil-content"
           alt="">
          <ul>  
        <mat-card-content>
           <li>Superviser la rédaction des communiqués et dossiers de presse.</li>
            <li>choisir et concevoir les supports de communication.</li>
            <li>Etudier les moyens de réalisation des panneaux, scénarios de films, CDrom, articles de revue, documents pédagogiques, pages web...</li>
        </mat-card-content>
    </ul>
    </mat-card>

</div>